/* Add your CSS styles here */
.table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    background-color: #a8c9fe; 
}

.channel-card {
    border: 1px solid #ff0000;
    padding: 1px;
    text-align: left;
}

.channel-title {
    font-weight: bold;
}

.channel-subscribers {
    color: #ff0000;
}

