#title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    background-color: #FFCC99;
}

#wrapper {
    border: 1px solid blue;
}
#div1 {
    display: inline-block;
    border: 1px solid red;
    height: 1200px;
    margin-right: 1060px;
}
/* make div2 to be beside div1 on the same height*/
#div2 {
    vertical-align:top;
    display: inline-block;
    border: 1px solid green;
    height: 1200px;
    margin-left: 1060px;
}


